[Unit]
Description=Wolfenstein Enemy Territory Server

[Service]
ExecStart=/home/root/et/etl_start.sh start
Restart=always

[Install]
WantedBy=network-up.target
